h1 {color: purple;}
body{background-color: pink;}
body{border:solid;}
body {padding:10px;}
h2{color:blue;}


#cadre {border-radius: 18px}
#cl {color:purple;}
.dates{color:purple; }
.dates{font-weight: bold;}
.dates{text-decoration:underline;}
.postes{font-weight: bold;}
.description_du_poste {font-style:italic;}
.description_du_poste {font-size: 20px}